@model IEnumerable<ASPCORE.Models.ViewModels.LoanuserViewModels>
@{
    ViewData["Title"] = "LoanIndex";
}

<style type="text/css">
    .card img {
        transform: scale(1,1);
        transition-duration: 500ms;
        transition-timing-function: ease-in-out;
    }

    .card:hover img {
        transform: scale(1.2,1.2);
        transition-duration: 500ms;
        transition-timing-function: ease-in-out;
        opacity: .7;
    }
  
    /*h3 {
        text-align: center;
        font-weight: bold;
        background-color: cornflowerblue;
    }*/
</style>
<br />


<div class="container">
    <h3 class="display-3 text-center font-weight-bold">All Loans</h3>
    <h4>No Of Current Loans :@ViewBag.loancount</h4>
    <div class="row">

        @foreach (var book in Model)
        {
            <div class="col-md-4 bg-light" id="hvr">
                <div class="card mb-4 shadow-lg">
                    <div class="zen-course-thumbnail text-center">
                        <img src=@book.ImagePath width="250" height="150" class=" img-responsive" />
                    </div>
                    <div class="card-body">
                        <h3 class="card-title font-weight-bold">@book.FirstName</h3>
                        <p><b>LastName</b>:@book.LastName</p>
                        <p class="card-text"><b>Loan Staus</b>:@book.Loanstatus</p>
                        <p class="card-text"><b>Phone No</b>:@book.Phoneno</p>
                        <p class="card-text"><b>Address</b>:@book.address</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                @*<a href="/Book/GetBook/@book.Id" class="btn btn-sm btn-outline-secondary">View Details</a>*@
                                <input type="button" value="View Loan Details" class="btn btn-outline-dark" onclick="getLoanDetails(@book.Id)" />
                            </div>
                            @*<small class="text-muted"><b>Address</b>:@book.address</small>*@
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</div>
 
<div id="mainpage">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-info">Loan Employee lists</h2>
        </div>
        <div class="col-md-6 text-right">
            <a class="btn btn-info" asp-action="Create"><i class="fas fa-motorcycle"></i> &nbsp;</a>
        </div>
        <br />
        <div class="col-12">
            <table class="table table-striped border">
                <tr class="table-info">
                    <th>SlNo</th>
                    <th>Image</th>
                    <th>Personal Details</th>
                    <th>Address&PhoneNumber</th>
                    <th>Loan Details</th>
                    <th class="text-right">Actions</th>
                </tr>
                @foreach (var item in Model.Select((x,i) => new { data = x, Index = i }))
                {
                <tr>
                    <td>
                        @*@item.Index*@
                        @( ((Int32)1) + item.Index )
                    </td>
                    <td><img src="@Html.DisplayFor(m => item.data.ImagePath)" width="150" height="100" /></td>
                    <td>
                        <b>Name</b> :<b>@Html.DisplayFor(m => item.data.FirstName)</b>
                        <b>LastName</b>:<b>@Html.DisplayFor(m => item.data.LastName)</b><br />
                        <b>Status:</b>@Html.DisplayFor(m => item.data.Loanstatus)<br />
                    </td>
                    <td>
                        <b>Phone Number:</b>@Html.DisplayFor(m => item.data.Phoneno)<br />
                        <b>Address:</b>@Html.DisplayFor(m => item.data.address)<br />

                    </td>
                    <td>
                        @*<a href="/LoanUser/LoanIndex/@item.Id" class="btn btn-sm btn-outline-secondary">View Loan Details</a>*@
                        <input type="button" value="View Loan Details" class="btn btn-outline-dark" onclick="getLoanDetails(@item.data.Id)" />
                    </td>
                    <partial name="_EditDeleteTablePartial" model="item.data.Id" />

                </tr>
                }
            </table>
        </div>
    </div>
</div>

<!--Bootstrap Pop Up modal-->
<div id="myModal" class="modal fade" role="dialog" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h4 class="modal-title ">Loan details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" id="ModalBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



<!--End of Bootstrap Pop-Up modal-->


@section scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#loandetails').hide();
            $('#btnback').click(function () {
                $('#loandetails').hide();
                $('#mainpage').show();
            })
        });
        function getLoanDetails(loanid) {
            $.ajax({
                url: "/LoanUser/getbyID/" + loanid,
                type: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "html",
                success: function (response) {
                    $('#ModalBody').html(response);
                    $('#myModal').modal('show');
                    //$('img#img1').val(result.ImagePath);
                    //$('input#fName').val(result.FirstName);
                    //$('input#lName').val(result.LastName);
                    //$('input#phoneno').val(result.Phoneno);
                    //$('input#emi').val(result.Emi);
                    //$('input#totalamount').val(result.TotalLoanAmount);
                    //$('input#memi').val(result.MonthlyEmi);
                    //$('#loandetails').show();
                    //$('#mainpage').hide();

                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
            //        return false;
        }

    </script>
}